{% extends './base.html' %}

{% block css %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form class="form-group" action="" method="POST">
                    {% csrf_token %}
                    {{form.media}}
                    {{form.as_p}}
                    <input type="submit" value="Chnage" class="btn btn-secondary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

