{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
    <script src="https://kit.fontawesome.com/d708101dd1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'camp/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'camp/css/responsive.css' %}">
    <title>Camp | Events</title>
{% endblock %}


{% block body %}
    <header><h2>Camp Events</h2></header>
    <section class="events">
    {% for c in camps %}
        <div class="eventDiv">
            <div class="eventImg">
                <a href="{% url 'camp:camp' c.id %}">
                    <img src="{{c.banner.url}}" alt="">
                </a>
            </div>
            <div class="avatar"><img class="rounded-circle img-thumbnail" src="{{c.camp_logo.url}}" alt=""></div>
            <div class="eventTxt">
                <h4>{{c.name}}</h4>
                <h6>{{c.camp_topic}}</h6>
                <h6>{{c.date}}</h6>
                <div class="detail">
                    <a href="{% url 'camp:camp' c.id %}">Click for detail <i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
    </section>
{% endblock %}
