{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
{% endblock %}


{% block body %}

    <div class="container p-2">
        <div class="row mt-4">
            {% for c in camps %}
                <div class="camp p-1">
                    <div class="row">
                        <div class="col-12 col-lg-2 col-xl-2 ">
                            <img src="{{c.banner.url}}" class="m-1 camp_banner">
                        </div>
                        <div class="col-12 col-lg-7 col-xl-7 p-2">
                            <h5>
                                {{c.name}}
                            </h5>
                            <h6>{{c.camp_topic}} <br> {{c.date}} </h6>
                            <a href="{% url 'camp:camp' c.id %}">See Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
