{% extends './base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
{% endblock %}

{% block body %}

    <div id="pasword_reset" class="container p-3 justify-content-center">
        <div class="row my-2 justify-content-center">
            <div class="col-10 justify-content-center">
                <img src="{% static 'images/tmc_logo.jpg' %}" class="img-thumbnail rounded-circle" alt="tmc_logo">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="forgot col-10 col-lg-6 col-xl-6 p-0">
                <div class="text">
                    <h5>Reset Password</h5> 
                </div>
                {% if step == 1 %}
                    <div class="row p-3">
                        <div class="col-9">
                            <form method="POST" action="{% url 'tmc:forgot_password' 'given' 'none' %}">
                                {% csrf_token %}
                                <label for="email">Email:</label>
                                <input type="email" name="email" id="email" class="form-control"> 
                                <small>*Give a valid email. Such as: example@gmail.com</small><br><br>
                                <input type="submit" value="Next" class="btn btn-primary">
                            </form>         
                        </div>
                    </div>
                {% endif %}
                {% if step == 2 %}
                    <div class="row p-3">
                        <div class="col-9">
                            <h5>We have sent an OTP to your given email.</h5>
                            <h6>The OTP is secret! Dont share!</h6> <br>
                            <form action="{% url 'tmc:forgot_password' 'given_email' 'given' %}" method="POST" > 
                                {% csrf_token %}
                                <label for="otp">OTP:</label>
                                <input type="email" name="given_email" value="{{given_email}}" hidden id="">
                                <input type="number" name="otp" value="{{otp}}" hidden id="">
                                <input type="number" min="0" max="999999" name="given_otp" id="otp" class="form-control">
                                <small>*Enter the 6 digit OTP</small> <br> <br>
                                <input type="submit" value="Next" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                {% endif %}
                {% if step ==  3 %}
                    <div class="row p-3">
                        <div class="col-9">
                            <h5>OTP matchced.</h5>
                            <h6>Provide a new password.</h6>
                            <form class="form-group" method="POST" action="{% url 'tmc:forgot_password' 'given' 'given' %}">
                                {% csrf_token %}
                                <label for="username">TMC ID:</label>
                                <input type="text" name="username" class="form-control" id="username"> <br>
                                <label for="password">New Password:</label>
                                <input type="password" name="password" id="password" class="form-control"> <br>
                                <input type="email" name="email" value="{{given_email}}" hidden id="">
                                <input type="submit" class="btn btn-primary" value="Change Password">
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>            
        </div>
    </div>

{% endblock %}


