{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block body %}
<div class="container">
    <section class="container">
        <!-- Heading -->
        <div class="row my-1 header bg-white mb-4 rounded">
            <div class="col-md-7 p-4 p-lg-5 headerTxt">
                <div class="mainHeadTxt">
                    <h1><span class="mainHead">TMC: </span>Trivuj Math Club</h1>
                    <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias mollitia, iste explicabo
                        eius corrupti repellat asperiores vero maiores fugiat debitis.</p>
                </div>
                {% if user.is_authenticated %}
                <h5>Welcome, {{user.first_name}}</h5>
                {% else %}
                <div class="topBtns">
                    <a href="{% url 'tmc:user_registration' %}"><button class="btn btn-primary px-4 me-3">Register</button></a>
                    <a href="{% url 'tmc:user_login' %}"><button class="btn btn-outline-primary border-2 px-4">Log In</button></a>

                    <!-- <button class="btn btn-outline-primary border-2 px-4">Log In</button> -->
                </div>
                {% endif %}
            </div>
            <div class="col-md-5 p-4 p-lg-5">
                <div class="imgContain">
                    <img src="{% static 'images/tmc_logo.jpg' %}" class="" alt="">
                </div>
            </div>
        </div>


        <!-- 3 blocks -->
        <div class="row mb-4 justify-content-md-between flex-column flex-md-row">
            <style>

            </style>
            <div class="container-fluid bg-white shadow-sm p-4">
                <div class="col-12">
                    <h3>Problems To Solve</h3> <br>
                    {% for p in problems %}
                        <div class="row shadow-sm mb-2 p-2">
                            <div class="col-8">
                                <h5>{{p.problem_name}}</h5> 
                            </div>
                            <div class="col-4">
                                <a class="btn btn-primary" href="{% url 'tmc:problem' p.id %}" >Solve</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Profile -->
        <!-- <div class="row profile rounded mb-3">
            <div class="col-3 proImgTxtCon">
                <div class="proImgTxt bg-white rounded me-2 p-3">
                    <div class="profileImg">
                        <img src="images/tmc1.png" alt="">
                    </div>
                    <div class="profileName">
                        <a href="#">
                            <h4>Profile Name</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-9 bg-white rounded">
                <div class="profileDetails">
                    <div class="sBlock m-4 border rounded rating">
                        <div class="rankNum">
                            <h4>203</h4>
                            <p>Currnt Rating</p>
                        </div>
                        <div class="rank">
                            <p>Rating 10</p>
                        </div>
                    </div>
                    <div class="sBlock m-4 border rounded solved">
                        <div class="rankNum">
                            <h4>309</h4>
                            <p>Solved Problems</p>
                        </div>
                        <div class="rank">
                            <p>Rating 10</p>
                        </div>
                    </div>
                    <div class="sBlock m-4 border rounded contribution">
                        <div class="rankNum">
                            <h4>90</h4>
                            <p>Contribution</p>
                        </div>
                        <div class="rank">
                            <p>Rating 10</p>
                        </div>
                    </div>
                    <div class="blog border rounded m-4">
                        <table class="table table-borderless">
                            <tr>
                                <td>Blogs</td>
                                <td>20</td>
                            </tr>
                        </table>
                        <div class="blogBtn">
                            <button class="btn btn-primary">View Blogs<i class="fas fa-external-link-alt"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->

        <!-- Blog -->
        <!-- <div class="row bg-white rounded p-4 pb-0 mb-3 blog">
            <div class="col-12">
                <h3 class="mb-3 border-bottom py-2 border-3">Latest Blogs</h3>
                <div class="row">
                    <div class="owl-carousel col-12">
                        <div class="blogCard p-0 rounded mb-3">
                            <a href="#">
                                <div class="blogImg">
                                    <img class="img-fluid" src="images/blog.jpg" alt="">
                                </div>
                                <div class="blogTxt p-3">
                                    <h3>Blog Title <small>By <br> <span class="blogWritter">Rafsan Hasan</span></small></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo similique,
                                        minima repellat repudiandae ullam eveniet a ea sit iste soluta!</p>
                                </div>
                            </a>
                        </div>
                        <div class="blogCard p-0 rounded mb-3">
                            <a href="#">
                                <div class="blogImg">
                                    <img class="img-fluid" src="images/blog.jpg" alt="">
                                </div>
                                <div class="blogTxt p-3">
                                    <h3>Blog Title <small>By <br> <span class="blogWritter">Rafsan Hasan</span></small></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo similique,
                                        minima repellat repudiandae ullam eveniet a ea sit iste soluta!</p>
                                </div>
                            </a>
                        </div>
                        <div class="blogCard p-0 rounded mb-3">
                            <a href="#">
                                <div class="blogImg">
                                    <img class="img-fluid" src="images/blog.jpg" alt="">
                                </div>
                                <div class="blogTxt p-3">
                                    <h3>Blog Title <small>By <br> <span class="blogWritter">Rafsan Hasan</span></small></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo similique,
                                        minima repellat repudiandae ullam eveniet a ea sit iste soluta!</p>
                                </div>
                            </a>
                        </div>
                        <div class="blogCard p-0 rounded mb-3">
                            <a href="#">
                                <div class="blogImg">
                                    <img class="img-fluid" src="images/blog.jpg" alt="">
                                </div>
                                <div class="blogTxt p-3">
                                    <h3>Blog Title <small>By <br> <span class="blogWritter">Rafsan Hasan</span></small></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo similique,
                                        minima repellat repudiandae ullam eveniet a ea sit iste soluta!</p>
                                </div>
                            </a>
                        </div>
                        <div class="blogCard p-0 rounded mb-3">
                            <a href="#">
                                <div class="blogImg">
                                    <img class="img-fluid" src="images/blog.jpg" alt="">
                                </div>
                                <div class="blogTxt p-3">
                                    <h3>Blog Title <small>By <br> <span class="blogWritter">Rafsan Hasan</span></small></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo similique,
                                        minima repellat repudiandae ullam eveniet a ea sit iste soluta!</p>
                                </div>
                            </a>
                        </div>
                        <div class="blogCard p-0 rounded mb-3">
                            <a href="#">
                                <div class="blogImg">
                                    <img class="img-fluid" src="images/blog.jpg" alt="">
                                </div>
                                <div class="blogTxt p-3">
                                    <h3>Blog Title <small>By <br> <span class="blogWritter">Rafsan Hasan</span></small></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo similique,
                                        minima repellat repudiandae ullam eveniet a ea sit iste soluta!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Contest -->
        <!-- <div class="row my-3">
            <div class="col-12 p-0 rounded bg-white">
                <div class="row">
                    <div class="col-5 contestImg img-fluid"><img src="images/pp.jpg" alt="" class="rounded"></div>
                    <div class="col-7 contestTxt">
                        <h4>Contest Name</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatum incidunt magni harum dolore eos mollitia accusantium eaque fugit minima optio facere iusto animi quod, veniam molestiae placeat quas officia?</p>
                        <div class="regBtn">
                            <button class="btn btn-outline-primary">Register Now!!!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </section>
</div>
{% endblock %}

{% block js %}
<script>
    $(".owl-carousel").owlCarousel({
        items: 4,
        margin:15,
        nav: true,
        // loop:true,
        // autoplay:true,
        autoplayTimeout:1500,
        autoplayHoverPause:true,
        responsive:{
            0:{
                items:1,
            },
            580:{
                items:2,
            },
            780:{
                items:3,
            },
            1000:{
                items:3,
            },
            1200:{
                items:4
            }
        }
    });

    // code for side nav bar

    $(".sideTrgr").click(function(){
        $(".sideNabBar").toggleClass("sideInactive");
    })

    $(".sideSubMenuHead").click(function(){
        $(".sideSubMenu").slideToggle(300);
        $("#sideDownArrow").toggleClass("rotate");
    })    
</script>

{% endblock %}

