{% extends './base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Problem/css/details.css' %}">
{% endblock %}

{% block body %}

<section class="container">
    <div class="row justify-content-center">

        <div class="col-11 col-md-6 col-lg-7 quesBody mt-3 bg-white p-4 border">
            <div class="quesContainer">
                <div class="quesHead">
                    <div class="quesName">
                        <h4>{{problem.problem_name}}</h4>
                        <p><b>Score: </b>{{problem.point}} Point</p>
                    </div>
                    <!-- <div class="lang shadow-sm">
                        <p><i class="fas fa-language"></i> <span>English</span></p>
                        <div class="langset shadow">
                            <ul>
                                <li id="optLang" onclick="changeLang()">Bangla</li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <div class="quesTxt">
                    {{problem.bangla|safe}}
                    <hr>
                    {{problem.problem|safe}}
                </div>
                <div class="quesTags mt-4">
                    <span>Geometry</span><span>Basic</span>
                </div>
            </div>
        </div>

        <div class="col-11 col-md-6 col-lg-5 submitPart p-0">
            <div class="statistics m-md-3 bg-white p-4 border">
                <h4 class="py-2 ms-lg-2">Statistics</h4>
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>Tried</td>
                            <td>{{problem.tried.all.count}}</td>
                        </tr>
                        <tr>
                            <td>Solved</td>
                            <td>{{problem.solved.all.count}}</td>
                        </tr>
                        <tr>
                            <td>
                                {% if problem.first_solve == 'None' %}
                                    None has solved this yet.Be the first to solve!
                                {% else %}
                                    First Solved
                                {% endif %}
                            </td>
                            {% if not problem.first_solve == 'None' %}
                                <td><a href="#">{{first_solve}}</a></td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>

            {% if user.is_authenticated %}
                <div class="submitSec mt-3 mb-3 m-md-3">
                    <div class="submitInp">
                        <form action="" method="POST" autocomplete="off">
                            {% csrf_token %}
                            <input type="number" step="0.01" name="answer" id="" placeholder="Your Answer" required>
                            <input type="submit" value="" id="ansSubmit" hidden>
                            <label for="ansSubmit"><i class="fas fa-paper-plane"></i>Submit</label>
                            <small>The answer must be in English numbers</small>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="loginSec my-2">
                    <a href="#">
                        <i class="fas fa-sign-in-alt"></i><span>Login to submit</span>
                    </a>
                </div>
            {% endif %}
        </div>

    </div>

    <div class="row similarQues">
        <div class="col-lg-7 p-0 simQuesCon mt-3">
            <h4 class="px-0 py-2 ms-2 ms-md-0 mb-1 mb-md-2">Similar Problems</h4>
            <div class="row">
                {% for p in more_problems %}
                    <div class="col-md-4 simQuesConBox">
                        <a href="#">
                            <div class="simQuesBox border bg-white p-4 m-2 ms-md-0">{{p.problem_name}} - <small>Point: {{p.point}}</small>  </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}