
*{padding:0;margin:0;box-sizing: border-box;}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

/* blockquote{
    font-style: italic;
    color: rgb(207, 207, 207);
    border-left: 5px solid rgb(184, 184, 184);
    padding: 5px;
    padding-left: 30px;
    font-size: 20px;
} */

.container-fluid, .row, .col{
    padding: 0;
    margin: 0;
}

.container-fluid .row:first-child::after{
    content: "";
    display: block;
    height: 0.5px;
    width: 100%;
    background-color: rgb(236, 236, 236);
    margin: 5px;
}

#nav .row .col-2 .deck{
    display: inline;
}

.deck img{
    height: 31px;
    width: 31px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-buttons{
    text-align: left;
}

.nav-buttons li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid transparent;
    transition: 0.2s all;
}

.nav-buttons li a{
    color: darkslategrey;
}

.nav-buttons li:hover{
    border-bottom: 1px solid #00b5d4;
}

#collapse-btn{
    display: none;
    background-color: white;
    height: 100%;
    transform: translateX(-50%) translateY(65%);
    position: relative;
}

#collapse-btn img{
    height: 35px;
    width: 35px;
    transition: 0.2s all;
}

.hidden{
    display: none;
}

.hidden a{
    display: none;
}

#arrow{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    margin: 15px;
    background-color: rgba(128,128,128,0.3);
    height: 30px;
    width: 30px;
    text-align: center;
}

/* .navbar-nav{
    background: lightgrey;
    border-radius: 8px;
    padding: 5px;
} */

.nav-item{
    color: #00b5d4;
    border-radius: 8px;
    transition: 0.4s all;
}

.nav-item:hover{
    background-color: #8c52ff ;
    color: white;
}
.carousel-item{
    width: 100%;
    height: 80vh;
}

.carousel-item img{
    width:100%;
    height: 100%;
}

.construction img{
    height:85%;
    width: 80%;
}


@media(max-width: 991px){
    #user_name{
        display: none;
    }
    .deck{
        display: none;
    }
    .nav-buttons li{
        display: block;
    }
    #collapse-btn{
        display: flex;
    }
    #navbar_navs{
        display: none;
    }
    #profile_nav{
        display: none;
    }
    .hidden{
        display: inherit;
    }
    .hidden a{
        display: inherit;
    }
    .container-fluid .row:first-child::after{
        display: none;
    }
}