.forgot{
    border: 1px solid #5271ff;
    border-radius: 8px;
}

.text{
    background: #5271ff;
    text-align: center;
    padding: 5px;
    color: white;
    border-radius: 8px 8px 0px 0px;
}

#pasword_reset img{
    width: 80px;
    height: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
}

