.camp{
    height: 20vh;
    border-bottom: 0.5px solid rgb(211, 211, 211);
}

.camp_banner{
    height: 17vh;
    width:100%;
    border-radius: 8px;
}

@media(max-width: 992px){
    .camp{
        height: fit-content;
    }
}
