#problem{
    text-align: left;
    background-color: rgb(248, 247, 247);
}

li{
    list-style: none;
}

.tag{
    font-size: 12px;
    background-color: beige;
    margin-right: 10px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(99, 99, 99);
    width: fit-content;
}
