/* #profile{
    background-color: rgb(243, 243, 243);
} */

.card{
    margin: 20px;
}

.profile_cards > div{
    float: left;
    margin: 8px;
    background-color: #f6f9ff;
    text-align: right;
    width: 200px;
    padding: 10px;
}

.progress{
    background-color: rgb(255, 0, 0);
    width: 80%;
    position: relative;
}

.progress > .bar{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 255, 0);
    height: 100%;
}





























/* #profile{
    text-align: left;
}

#progress-bar{
    width: 80%;
    height: 15px;
    border: 0.5px solid grey;
    border-radius: 3px;
    background-color: rgb(255, 50, 50);
    position: relative;
    display: inline-block;
}

#positive-bar{
    height: 100%;
    background-color: royalblue;
}

#leaderboard{
    height: fit-content;
    border: 0.5px solid lightgrey;
    border-radius: 7px;
}

#leaderboard .row .col-6:nth-child(2){
    text-align: right;
}

.user_badge img{
    cursor: pointer;
    height: 60px;
    width: 60px;
}

/* #leaderboard #text{
    bac
} */ 
